* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --canvas-border-color: #000;
    --canvas-border-thickness: 1px;
    --canvas-border-radius: 8px;
}

body {
    display: flex;
    padding: 2rem;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

canvas {
    border: var(--canvas-border-thickness) solid var(--canvas-border-color);
    border-radius: var(--canvas-border-radius);
}

#startBtn {
    padding: 1rem;
}