* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --canvas-border-color: #000;
    --canvas-border-thickness: 1px;
    --canvas-border-radius: 8px;
}

body {
    justify-content: center;
    align-items: center;
}
/* button {
    background: linear-gradient(rgb(247, 247, 248) 0%, rgb(234, 234, 235) 100%);
    box-shadow: rgb(255, 255, 255) 0px 2px 0px 0px inset;
    border-radius: 12px;
    border: 1px solid #e1e2e3;
} */

#gameArea {
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

canvas {
    border: var(--canvas-border-thickness) solid var(--canvas-border-color);
    border-radius: var(--canvas-border-radius);
    width: calc(75vh * 16/24) !important;
    height: 75vh;
}

#score {
    background-color: rgba(6, 62, 247, 0.25);
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.visible {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s ease;
}